@import url('https://fonts.googleapis.com/css2?family=Karla:wght@600&family=Roboto&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khand&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-wrap: break-word;
  transition: color 0.3s;

}

html {

  scroll-behavior: smooth;
}

body {
  background: #d9d8d8ad;
  font-size: 16px;


}

img {
  width: 100%;
}

ul li {
  list-style: none;
}


:root {
  --max-width-container: 80em;
  --width-container: 100%;
  --color-1: #e51e21;
  --color-2: #002665;
  --color-3: white;
  --color-4: #3eab34;
  --padding-container: 10em 5em;
  --karla-font: 'Karla', sans-serif;
  --roboto-font: 'Roboto', sans-serif;
  --bebas-font:'Khand', sans-serif;


}

.container {
  max-width: var(--max-width-container);
  width: var(--width-container);
  padding: var(--padding-container);
  margin: 0 auto;

}



.header-container {
  z-index: 9999;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 2em 5em;
  transition: all .7s ease-in-out


}

.header-logo {
  display: flex;
  align-items: center;
  width: 10.25em;
}

.bgcolor{
  background-color: var(--color-2);
  transition: all .7s ease-in-out
}

.logo__img {
  width: 100%;
  display: block;

}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 1.8em;
  height: 0.2em;
  margin: 0.2em auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--color-3);
}

nav {
  background: none;
}


nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  position: relative;
}

nav ul li {
  text-transform: capitalize;
  font-family: var(--karla-font);
  color: #fff;
  display: inline-block;
  padding: 1.2rem 0.9rem;
  text-decoration: none;
  /* font-weight: bold; */
  letter-spacing: 0.2rem;
}
nav ul li a{
 width: 100%;
 height: 100%;
  text-decoration: none;
  color: var(--color-3);
}

nav ul li a:hover {
  color: var(--color-4);
}

nav ul li a span {
  margin-right: 10px;
}

nav ul li:hover .children {
  display: block;
}

nav ul li .children {
  display: none;
  background: #011826;
  position: absolute;
  width: 150%;
  z-index: 1000;
}

nav ul li .children li {
  display: block;
  overflow: hidden;
  border-bottom: 1px solid rgba(255, 255, 255, .5);
}

nav ul li .children li a {
  display: block;
}

nav ul li .children li a span {
  float: right;
  position: relative;
  top: 3px;
  margin-right: 0;
  margin-left: 10px;
}

nav ul li .caret {
  position: relative;
  top: 3px;
  margin-left: 10px;
  margin-right: 0px;
}

.header-tumbnail {
  text-align: center;
  background: linear-gradient(rgb(0 70 185 / 55%), rgb(56 162 54 / 62%)), url(assets/wiltronic\ inside.jpg) no-repeat center/cover;
  background-attachment: fixed;


}

.tumbnail__content {
  height: 100vh;
  display: flex;
  gap: 1.2em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--padding-container);
  word-wrap: break-word;
  color: var(--color-3);
  font-family: var(--karla-font);
}

.tumbnail__content h2 {

  font-size: 3em;
  letter-spacing: 0.1em;
  animation-iteration-count: 1, infinite;
  animation-name: slidein, cambiarcolor;
  animation-duration: 3s, 9s;
  animation-direction: alternate;

}





@keyframes slidein {
  from {
    margin-top: -100%;
  }

  to {
    margin-top: 0%;
  }
}

@keyframes cambiarcolor {
  50% {
    text-shadow: 0px 0px 20px var(--color-4);
  }

  100% {
    text-shadow: 0px 0px 20px var(--color-1);
  }
}


.tumbnail__content i {

  font-size: 1.5em;
}


/* Secciones */

.about{ 
  position:relative;
  left:-100%;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 2s;


}

.products-container { 
  position:relative;
  transform: scale(-0,-0);
  transition: all ease-in 1.3s;
}

.services{
  position:relative;
  left:-200%;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 3s;

}

.contact-container{
  position:relative;
  left:-400%;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 5s;

}

.about-init{
  left:0;
}

.products-init{
  transform:scale(1,1);
}
.services-init{
  left:0;
}



.about-container {
  text-align: center;


}

.about-content {
  display: flex;
  gap: 6em;
}

.about-content .section-paragraph {
  text-align: justify;
  width: 60%;
  margin: 0 auto;

}

.about-imgs {
  width: 60em;
}

.about-img {
  margin: 0 auto;
}

.section-paragraph p {
  line-height: 1.7em;
  padding-bottom: 1em;


}

.section-paragraph p:nth-child(3) {
  padding-bottom: 0.5em;
}

.section-paragraph ul li {
  margin: 0;
  padding: 0;
  list-style: disc;
  list-style-position: inside;

}

.title-container {
  display: inline-flex;
  width: 100%;
  align-content: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:0.9em;
  margin-bottom: 2em;
}

.section-title {
  font-family: var(--bebas-font);
  font-size: 2em;
  padding: 0.3em 0.5em;
  letter-spacing: 0.1em;
  background: var(--color-4);
  color: var(--color-3);
  box-shadow: 0px 0.2125em 0.2125em 0px #3b3b3b;
}

.m-t{
  font-family:var(--karla-font);
  background: none;
  margin-bottom: 1em;
  box-shadow: initial;

}

.m-t:after{
  content:"";
  margin:0 auto;
  display: block;
  margin-top: 0.3em;
  width: 10%;
  height:0.2em;
  background: var(--color-1);

}




.title-bar{
  display: inline-flex;
  width: 10%;
  height: 0.4em;
  background: var(--color-4);
  

}

.section-paragraph {
  font-family: var(--roboto-font);
  text-align: center;
  line-height: 2em;
  margin-bottom: 1em;
  font-size: 1.5em;
}


.products {
  background: linear-gradient(to bottom, #bdc3c76b, #2c3e50), url(assets/background\ productos.jpg) no-repeat center center/cover;
  background-attachment: fixed;
}

.products h2,
.products p {
  color: var(--color-3);
}

.products-container {
  text-align: center;
}

.products-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5em;
  margin-bottom:5em;

}

.product {
  transition: transform 0.5s;
}

.product:hover {
  transform: scale(1.2, 1.2) rotate(-10deg);
  ;
  z-index: 99;
  border: 3px solid var(--color-2)
}

.products-cta {
  font-size: 1.2em;
  letter-spacing: 0.2em;
}

.cta {
  display: inline-block;
  background: transparent;
  padding: 1em 2em;
  text-decoration: none;
  color: var(--color-3);
  border-radius: 10px;
  font-family: var(--roboto-font);
  border: 3px solid var(--color-3);
  font-weight: bold;
  letter-spacing: 0.2em;
  transition: background ease-in 0.4s, color ease-out 0.9s;


}

.cta:hover {
  background: var(--color-3);
  color: #3eab34;

}

.services-title{
  margin-bottom: 3.5em;
}

.services-content {
  display: grid;
  grid-template-columns: auto auto;
  padding: 0 0.5em;
  gap: 2em;
}



.service {
  z-index: 1;
  height: 20em;
  max-height: 20em;
  overflow: hidden;
  position: relative;

}


.n1-epe {

  background: linear-gradient(to bottom, #bdc3c76b, #2c3e50), url(assets/proyectos.jpg) no-repeat center center/cover;
  
}
.service{
animation-iteration-count: infinite;
   animation-name: modif-bg; 
  animation-duration: 3s;
  animation-direction: alternate;
}



.n2-depcb {
  background: linear-gradient(to bottom, #bdc3c76b, #2c3e50), url(assets/diseño\ pcbs.jpg) no-repeat center center/cover;

}

.n3-vce {
  background: linear-gradient(to bottom, #bdc3c76b, #2c3e50), url(assets/componentes\ electronicos.jpg) no-repeat center center/cover;

}

.n4-rc {
  background: linear-gradient(to bottom, #bdc3c76b, #2c3e50), url(assets/reparacion\ de\ celulares.jpg) no-repeat center center/cover;

}

 @keyframes modif-bg {
  from {
    box-shadow: 0px 0px 19px 2px  var(--color-2);
  }

  to {
    box-shadow: 0px 0px 19px 2px  var(--color-4);
  } 

  
}

.service h3 {
  font-size: 1.5em;
  position: absolute;
  right: 0;
  bottom: 2em;
  left: 0;
  margin: auto;
  padding: 1em 2em;
  font-family: var(--roboto-font);
  color: var(--color-3);
  letter-spacing: 3px;
  text-align: center;
  transition: bottom 1s;

}

.service h3:hover {
  bottom: 3em;

}

.contact {
  background: linear-gradient(to bottom, #bdc3c76b, #2c3e50), url(assets/businesswoman-looking-important-contact-on-phone.jpg) no-repeat center center/cover;
  background-attachment: fixed;
  text-align: center;
  color: white;
}

.contact-container {
  background: initial;
  
}

.contact-info {
  font-family: var(--roboto-font);
  line-height: 2em;
  letter-spacing: 1px;
  font-size: 1.2em;
}

.contact-info ul li i {
  margin-right: 0.5em;
}

/* footer */
#footer {
  background: var(--color-2);
  font-family: var(--roboto-font);
}


.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 3em 0;
}

.footer-links {
  display: inline-flex;
  gap: 10em;
  margin-bottom: 3em;
}

.footer-links__section {
  margin-bottom: 2em;
}

.footer-social {
  display: block;
}

#footer h5 {
  padding-left: 10px;
  border-left: 3px solid #eeeeee;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color: #ffffff;
}

#footer a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.footer-social__ul {
  display: inline-flex;
  gap: 1em;
}

#footer ul.footer-social__ul li {
  padding: 3px 0;
}

#footer ul.footer-social__ul li a i {
  margin-right: 5px;
  font-size: 25px;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}

#footer ul.footer-social__ul li:hover a i {
  font-size: 30px;
  margin-top: -10px;
}

#footer ul.footer-social__ul li a,
#footer ul.quick-links li a {
  color: #ffffff;
}

#footer ul.footer-social__ul li a:hover {
  color: #eeeeee;
}

#footer ul.quick-links li {
  padding: 3px 0;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}

#footer ul.quick-links li:hover {
  padding: 3px 0;
  margin-left: 5px;
  font-weight: 700;
}

#footer ul.quick-links li a i {
  margin-right: 5px;
}

#footer ul.quick-links li:hover a i {
  font-weight: 700;
}

.footer-copy {
  text-align: center;
}

.h6 {
  margin: 1em 0;
  color: white;
}

@media screen and (max-width: 1024px) {
  body {
    font-size: 14px;
   
  }

  .header-container{
    padding: 1em 2em;

  }
.products-content{
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
}
}

@media screen and (max-width: 992px) {

  .menu_bar {
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(251, 72, 52);
    background: var(--color-2);
    justify-content: space-between;
  }

  .menu_bar .bt-menu {
    display: block;
    padding: 20px;
    color: #fff;
    overflow: hidden;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
  }
  .header-container{
    padding: 1em 2em;

  }

  .hamburger {
    display: flex;
    flex-direction: column;
    padding: 0.3em;
    border: 2px solid var(--color-3);
    border-radius: 0.5em;
    box-shadow: 0px 0px 5px 3px rgb(255 255 255 / 68%);

  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {

    transform: translateY(0.5em) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {

    transform: translateY(-0.61em) rotate(-45deg);
  }

  nav {
    width: 80%;
    height: calc(100% - 100px);
    position: fixed;
    right: 100%;
    top: 5em;
    margin: 0;
    overflow: scroll;
  }

  nav ul li {
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
  }

  nav ul li a {
    display: block;
  }

  nav ul li:hover .children {
    display: none;
  }

  nav ul li .children {
    width: 100%;
    position: relative;
  }

  nav ul li .children li a {
    margin-left: 20px;
  }

  nav ul li .caret {
    float: right;
  }

  .about-content .section-paragraph {

    width: 75%;

  }

  .footer-links {
    gap: 4em;
  }

}


@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
    --padding-container: 10em 2em;
  }

  .about-content .section-paragraph {
    text-align: center;
    width: 80%;
   

  }
  
  .services-content {

    grid-template-columns: repeat(1, 1fr);

  }



}

@media screen and (max-width: 425px) {


  body {
    font-size: 10px;
    --padding-container: 10em 1em;

  }

  .products-content{
    grid-template-columns: repeat(1, 1fr);
    gap: 2em;
  }
  .product {
    width: 70%;
    margin: 0 auto;
  }

  .footer-links {
    display: block;
    text-align: center;


  }

  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }


}